
.main{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgBlock{
    width: 300px;
    height: 300px;
}

.logo{
    width: 320px;
    height: 200px;
}
.sign{
    width: 400px;
    height: 40px;
    background: aquamarine;
}

